<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxsoft.dao.AttributeMapper">


    <update id="update">
        UPDATE attribute set attribute_name=#{attribute_name} WHERE attribute_id=#{attribute_id} and classify_id=#{classify_id}
    </update>
    <select id="list" resultType="Attribute">
    	select * from attribute where classify_id=#{classify_id}
    </select>
    <insert id="add">
    	insert into attribute values(#{attribute_id},#{attribute_name},#{classify_id})
    </insert>
    <delete id="delete">
    	delete from attribute where attribute_id=#{attribute_id} and classify_id=#{classify_id}
    </delete>
</mapper>
