<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxsoft.dao.ProductAttributeMapper" >


    <select id="findClassifyById" resultType="AttributeClassify" >
    	<!-- 根据商品id查询商品所有属性分类 -->
    	SELECT c.classify_id,c.classify_name
			FROM product_attribute a,attribute_classify c,product p
			WHERE p.product_id=a.product_id 
				AND c.classify_id=a.classify_id
				AND a1.classify_id=c.classify_id
				AND p.product_id=#{product_id}
    </select>
    <!-- 根据商品id和属性分类查询该分类商品所有属性 -->
    <select id="findAttributeById" resultType="Attribute" >
    	SELECT a1.attribute_id,a1.attribute_name,c.classify_id
			FROM product_attribute a,attribute_classify c,product p,attribute a1 
			WHERE p.product_id=a.product_id 
				AND c.classify_id=a.classify_id
				AND a.attribute_id=a1.attribute_id
				AND a1.classify_id=c.classify_id
				AND p.product_id=#{product_id}
				AND c.classify_id=#{classify_id}
    </select>
    <!-- 增加商品属性 -->
    <insert id="addProductAttribute" >
		insert into product_attribute values(#{classify_id},#{product_id},#{attribute_id})
	</insert>
	<!-- 修改商品属性 -->
	<update id="updProductAttribute">
		update product_attribute set classify_id=#{classify_id},product_id=#{product_id},attribute_id=#{attribute_id} 
			where classify_id=#{oldclassify_id}
			 and product_id=#{oldproduct_id}
			 and attribute_id=#{oldattribute_id}
	</update>
	<!-- 删除商品属性 -->
	<delete id="delProductAttribute">
		delete from product_attribute where classify_id=#{classify_id}
			 and product_id=#{product_id}
			 and attribute_id=#{attribute_id}
	</delete>
</mapper>
